<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../dist/css/main.bundle.css">
    <script src="../dist/app/main.js" type="text/javascript" async defer></script>
</head>
<body>
    <div id="app" class="container">
        {% block content %} {% endblock %}
    </div>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>