<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../dist/css/main.bundle.css">
    <script src="../dist/app/main.js" type="text/javascript" async defer></script>
</head>
<body>
<div class="navbar-wrp">
    <nav class="navbar is-transparent">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/" data-turbolinks-action="replace">
                    <img src="https://bulma.io/images/bulma-logo.png"
                         alt="Bulma: a modern CSS framework based on Flexbox"
                         width="112" height="28">
                </a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-info" data-turbolinks-action="replace" href="/admin/login">
                                    <span>Log in Admin</span>
                                </a>
                                <a class="button is-primary" data-turbolinks-action="replace" href="/customer/login">
                                    <span>Log in Customer</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div id="app" class="container">
    {% block content %} {% endblock %}
</div>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>