@import "~bulma";

a[disabled] {
    pointer-events: none;
}

.book-page{
    margin-top: 1rem;
}

.book-page .columns {
    overflow: auto;
    display: block;
}

.book-page .card .media-content {
    overflow: hidden;
}

.sb-widget {
    padding: 1rem;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    .control {
        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
    .title-section {
        h3 {
            margin-bottom: .5rem;
        }
        margin-bottom: 1rem;
    }
}

.index-page {
    .sb-widget {
        margin-bottom: 2rem;
    }
}

.search-page {

}