@import "~bulma";

a[disabled] {
    pointer-events: none;
}

.book-page{
    margin-top: 1rem;
}

.book-page .columns {
    overflow: auto;
    display: block;
}

.book-page .card .media-content {
    overflow: hidden;
}